.archive-body {
  margin-bottom: 60px;
}

// .archive-body__content {
//   margin-top: 60px;

//   &:empty {
//     display: none;
//   }
// }

.archive-sticky {
  margin-bottom: 50px;
  min-height: 420px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include below(md) {
    min-height: 360px;
  }

  @include below(sm) {
    min-height: auto;
  }
}

.archive-sticky__image {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.archive-sticky__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive-sticky__body {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px;
  width: 700px;
  max-width: 100%;

  @include below(md) {
    width: 640px;
  }

  @include below(sm) {
    padding: 20px;
  }
}

.archive-sticky__title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 0;

  @include below(sm) {
    font-size: 24px;
  }
}

.archive-sticky__title a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.archive-sticky__title a:hover {
  text-decoration: underline;
}

.archive-sticky__title a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.archive-sticky__date {
  padding-left: 25px;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1;
  margin-top: 38px;
}

.archive-sticky__date::before {
  content: '';
  width: 15px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M0.0,13.999 L0.0,0.999 L1.999,0.999 L1.999,2.999 L4.998,2.999 L4.998,0.999 L9.996,0.999 L9.996,2.999 L12.995,2.999 L12.995,0.999 L14.994,0.999 L14.994,13.999 L0.0,13.999 ZM13.995,3.999 L0.999,3.999 L0.999,12.999 L13.995,12.999 M4.996,7.997 L1.997,7.997 L1.997,4.997 L4.996,4.997 L4.996,7.997 ZM4.996,11.999 L1.997,11.999 L1.997,8.998 L4.996,8.998 L4.996,11.999 ZM8.992,7.997 L5.993,7.997 L5.993,4.997 L8.992,4.997 L8.992,7.997 ZM8.992,11.999 L5.993,11.999 L5.993,8.998 L8.992,8.998 L8.992,11.999 ZM12.988,7.997 L9.989,7.997 L9.989,4.997 L12.988,4.997 L12.988,7.997 ZM10.996,0.0 L11.995,0.0 L11.995,1.999 L10.996,1.999 L10.996,0.0 ZM2.998,0.0 L3.998,0.0 L3.998,1.999 L2.998,1.999 L2.998,0.0 Z'/%3E%3C/svg%3E");
}

.archive-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.archive-grid__cell {
  width: calc(100% / 3);
  padding-top: 15px;
  padding-left: 15px;

  @include below(md) {
    width: calc(100% / 2);
  }

  @include below(sm) {
    width: calc(100% / 1);
  }
}

.archive-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
  transition: box-shadow .3s ease;
  position: relative;
}

.archive-card:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.17);
}

.archive-card__image {
  padding: 0;
  margin: 0;
}

.archive-card__image img {
  display: block;
  max-width: 100%;
}

.archive-card__body {
  padding: 25px 32px;

  @include below(sm) {
    padding: 20px;
  }
}

.archive-card__date {
  padding-left: 25px;
  position: relative;
  color: #9a9a9a;
  font-size: 14px;
  line-height: 1;
}

.archive-card__date::before {
  content: '';
  width: 15px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M0.0,13.999 L0.0,0.999 L1.999,0.999 L1.999,2.999 L4.998,2.999 L4.998,0.999 L9.996,0.999 L9.996,2.999 L12.995,2.999 L12.995,0.999 L14.994,0.999 L14.994,13.999 L0.0,13.999 ZM13.995,3.999 L0.999,3.999 L0.999,12.999 L13.995,12.999 M4.996,7.997 L1.997,7.997 L1.997,4.997 L4.996,4.997 L4.996,7.997 ZM4.996,11.999 L1.997,11.999 L1.997,8.998 L4.996,8.998 L4.996,11.999 ZM8.992,7.997 L5.993,7.997 L5.993,4.997 L8.992,4.997 L8.992,7.997 ZM8.992,11.999 L5.993,11.999 L5.993,8.998 L8.992,8.998 L8.992,11.999 ZM12.988,7.997 L9.989,7.997 L9.989,4.997 L12.988,4.997 L12.988,7.997 ZM10.996,0.0 L11.995,0.0 L11.995,1.999 L10.996,1.999 L10.996,0.0 ZM2.998,0.0 L3.998,0.0 L3.998,1.999 L2.998,1.999 L2.998,0.0 Z'/%3E%3C/svg%3E");
}

.archive-card__title {
  font-size: 22px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  margin: 17px 0 0;
}

.archive-card__title a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    color: #d2381c;
  }
}

.archive-card__title a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.archive-card__excerpt {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin-top: 25px;
}

.archive-grid + .pagination {
  margin-top: 60px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-numbers {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 8px;
    border-radius: 50%;
    color: #000;
    font-size: 16px;
    line-height: 1;
    border-radius: 50%;
  }

  .page-numbers:hover {
    background: #ababab;
    color: #fff;
  }

  .page-numbers.current {
    font-size: 24px;
    color: #d2381c;
    font-weight: bold;

    &:hover {
      background: transparent;
    }
  }

  .page-numbers.prev {
    position: relative;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      position: absolute;
      top: 50%;
      left: calc(50% - 4px);
      transform: translate(-50%,-50%) rotate(45deg);
    }

    &::before {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
    }
  }

  .page-numbers.next {
    position: relative;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      position: absolute;
      top: 50%;
      left: calc(50% + 4px);
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &::before {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
    }
  }
}
