.page-breadcrumbs {
  line-height: 1;
  padding: 15px 0;
  color: #3a3c39;
  font-size: 14px;
}

.page-breadcrumbs__separator {
  margin: 0 12px;
}

.page-breadcrumbs a {
  font-weight: normal;
  text-decoration: none;
  color: #6e726c;
}

.page-headline {
  padding: 38px 0 40px;
}

.page-headline__title {
  text-align: center;
  line-height: 1;
  font-weight: bold;
  margin: 0;
  font-size: 48px;

  &_medium {
    font-size: 36px;
  }

  &_small {
    font-size: 24px;
  }

  @include below(sm) {
    font-size: 36px;
  
    &_medium {
      font-size: 32px;
    }
  
    &_small {
      font-size: 20px;
    }
  }
}
