.page-breadcrumbs {
  line-height: 1;
  padding: 15px 0;
  color: #3a3c39;
  font-size: 14px;
}

.page-breadcrumbs > span {
  margin-right: 12px;
}

.page-breadcrumbs a {
  font-weight: normal;
  text-decoration: none;
  color: #6e726c;
}
