@font-face {
  font-family: 'PT Astra Sans';
  font-display: swap;
  src: url('../fonts/PTAstraSans/PTAstraSans-Regular.woff2') format('woff2'), url('../fonts/PTAstraSans/PTAstraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Astra Sans';
  font-display: swap;
  src: url('../fonts/PTAstraSans/PTAstraSans-Bold.woff2') format('woff2'), url('../fonts/PTAstraSans/PTAstraSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Astra Sans';
  src: url('../fonts/PTAstraSans/PTAstraSans-Italic.woff2') format('woff2'), url('../fonts/PTAstraSans/PTAstraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
