.footer {
  background: #201d18;
  padding: 12px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 1.2;
}

.footer__links {
  line-height: 1.2;
  font-size: 12px;
  display: flex;
  gap: 50px;
}

.footer__links-item {

}

.footer__links-item a {
  color: rgb(153, 153, 153);
  text-decoration: underline;
}

.footer__links-item a:hover {
  color: rgb(255, 255, 255);
}

.footer__creator {
}

.footer__creator a {
  filter: grayscale(100%);
}

.footer__creator a:hover {
  filter: grayscale(0);
}

.scroll-up {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
  width: 66px;
  height: 66px;
  border-radius: 12px;
  background-color: rgba(29,48,56,0.3);
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 200;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-left: 4px solid currentColor;
    border-top: 4px solid currentColor;
    transform: rotate(45deg);
    margin-bottom: 4px;
  }

  &:hover {
    background-color: rgba(29,48,56,0.7);
  }

  @include below(sm) {
    width: 54px;
    height: 54px;
    right: 10px;
    bottom: 18px;
  }
}

.scroll-up_visible {
  opacity: 1;
  visibility: visible;
}

.grecaptcha-badge {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.underground__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.underground-groups {
  display: flex;

  @include below(sm) {
    margin-left: auto;
    margin-right: auto;
  }
}

.underground-groups a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;

  @include below(lg) {
    width: 40px;
    height: 40px;
  }

  @include below(sm) {
    width: 42px;
    height: 42px;
  }
}

.underground-groups a img {
  display: block;
}

.underground-groups__telegram {
  background: #36acf2;
}

.underground-groups__vk {
  background: #556b9a;
}

.underground-groups__ok {
  background: #ee931d;
}

.underground-groups__rutube {
  background: #14191f;
}

.underground-counters {
  margin-top: 56px;
}

.underground {
  background: #e2e5e6;
  padding: 33px 0 18px;
}

.underground__container {
  display: flex;
  justify-content: space-between;
}

.underground-about {

}

.underground-about__logo {

}

.underground-about__rights {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.350em;
}

.underground-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 380px;
}

.underground-contacts__address {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.underground-contacts__email {
  font-size: 18px;
  color: rgb(10, 110, 170);
  text-decoration: none;
  font-weight: bold;
  line-height: 1.333;
  border-bottom: 1px dotted currentColor;
  margin-top: 23px;
}

.underground-contacts__phone svg {
  fill: #5b5b5b;
  display: block;

  @include below(sm) {
    width: 20px;
    height: 20px;
  }
}

.underground-contacts__phone {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.005em;
  align-items: center;
  display: flex;
  text-decoration: none;
  gap: 4px;
  margin-bottom: 19px;

  @include below(lg) {
    font-size: 18px;
  }

  @include below(sm) {
    font-size: 20px;
    margin-bottom: 12px;

    justify-content: center;
  }
}
