.header {
  padding-bottom: 22px;
  position: relative;
  background: url('../images/header.jpg') no-repeat 50% 0;
  background-size: cover;

  @include below(md) {
    padding-bottom: 0;
  }
}

.header_float {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header-first {

  @include below(md) {
    display: none;
  }
}

.header-first__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header-address {
  font-size: 16px;
  color: rgb(254, 254, 254);
  line-height: 22px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.44);
  padding-left: 20px;
  position: relative;
  margin-right: 54px;
}

.header-address::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M5.989,12.986 C4.761,11.996 3.618,11.76 2.340,10.153 C0.912,9.120 0.10,7.493 0.10,5.665 C0.10,2.542 2.676,0.10 5.989,0.10 C9.303,0.10 11.990,2.542 11.990,5.665 C11.990,7.479 11.82,9.94 9.674,10.127 C8.384,11.75 7.238,11.972 5.989,12.986 L5.989,12.986 ZM5.989,7.844 C7.267,7.844 8.303,6.869 8.303,5.665 C8.303,4.460 7.267,3.485 5.989,3.485 C4.712,3.485 3.677,4.460 3.677,5.665 C3.677,6.869 4.712,7.844 5.989,7.844 L5.989,7.844 Z'/%3E%3C/svg%3E");
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.44));
}

.header-feedback {
  font-size: 16px;
  color: rgb(254, 254, 254);
  line-height: 22px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.44);
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-left: 24px;
  position: relative;
}

.header-feedback::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='12px' viewBox='0 0 15 11'%3E%3Cpath fill='%23fff' d='M0.794,10.758 L14.325,10.758 C14.362,10.758 14.398,10.750 14.430,10.735 L9.794,6.388 L7.559,9.093 L5.325,6.388 L0.689,10.735 C0.721,10.750 0.757,10.758 0.794,10.758 ZM0.547,10.383 L4.580,5.486 L0.547,0.604 L0.547,10.383 ZM0.869,0.240 L0.985,0.328 L7.559,7.340 L14.134,0.328 L14.250,0.240 L0.869,0.240 ZM14.572,0.604 L10.539,5.486 L14.572,10.383 L14.572,0.604 Z'%3E%3C/path%3E%3C/svg%3E");
}

.header-feedback span {
  
  @include below(lg) {
    display: none;
  }
}

.header-second-wrapper {
  position: absolute;
  left: 0px;
  width: 100vw;
  top: calc(22px + 44px);
  display: flex;
  align-items: center;
  z-index: 200;

  @include below(md) {
    top: 0;
    position: fixed;
  }
}

.header_fixed .header-second-wrapper {
  top: 33px;
  position: fixed;

  @include below(md) {
    top: 0;
  }
}

.header-second {
  background-color: rgba(255, 255, 255, 0.902);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17);
  position: absolute;
  width: 100vw;
  padding: 16px 0;
  transition: .5s ease;
  transition-property: padding-bottom, padding-top, top;

  @include below(md) {
    position: relative;
    padding: 4px 0;
  }
}

.header_fixed .header-second {
  padding-bottom: 5px;
  padding-top: 5px;
}

.header-placeholder {
  height: 88px;

  @include below(md) {
    height: 64px;
  }
}

.header__toggle {
  width: 36px;
  height: 36px;
  position: relative;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: rgba(62, 162, 228, 0.22);
  }

  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    width: 24px;
    height: 4px;
    background: #d2381c;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  span:nth-child(1) {
    margin-top: -8px;
  }

  span:nth-child(3) {
    margin-top: 8px;
  }

  span:nth-child(4) {
    text-transform: uppercase;
    color: #d2381c;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -.02em;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    position: absolute;
  }

  @include above(md) {
    display: none;
  }
}

.header-second__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}

.header-logo {
  margin-top: -38px;
  margin-bottom: -38px;
  background-image: linear-gradient(35deg,#c32613 0,#e04925 50%,#c32613 100%);
  width: 269px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 38px;
  text-decoration: none;
  align-self: normal;
  transition: .5s ease;
  transition-property: padding-bottom, margin-bottom, padding-top, margin-top;

  @include below(lg) {
    width: 200px;
  }

  @include below(md) {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 16px;
    margin-left: 0;
    order: -1;
  }
}

.header_fixed .header-logo {
  padding-bottom: 5px;
  margin-bottom: -5px;
  padding-top: 5px;
  margin-top: -5px;
}

.header-logo__image {
  display: block;
  max-width: calc(100% - 12px);
  margin: 0 auto;
}

.header-logo__desc {
  font-size: 11px;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-top: 5px;

  @include below(lg) {
    font-size: 9px;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @include below(md) {
    // order: 1;
    // width: calc(100% + 28px);
    // justify-content: space-between;
    // margin: 4px -14px 0;
    display: none;
  }
}

.header-menu > .menu-item {
  margin: 0 28px;

  @include below(lg) {
    margin: 0 14px;
  }
}

.header-menu > .menu-item > a {
  display: block;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #000;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  text-decoration: none;

  @include below(lg) {
    font-size: 18px;
  }
}

.header-menu > .menu-item > a:hover {
  border-bottom-color: #d2381c;
}

.header-menu > .menu-item.current-menu-item > a {
  color: #d2381c;
  border-top-color: #d2381c;
  border-bottom-color: #d2381c;
}

.header-contacts {
  display: flex;
  align-items: center;
  width: 269px;
  justify-content: flex-end;

  @include below(lg) {
    width: 200px;
  }

  @include below(md) {
    margin-left: auto;
  }
}

.header-contacts__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header-contacts__phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  color: #000;
  text-decoration: none;
  display: block;
  margin-top: 5px;

  @include below(lg) {
    font-size: 18px;
    margin-top: 4px;
  }
}

.header-contacts__email {
  color: #0a6eaa;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 16px;
  margin-top: 5px;
  display: block;

  @include below(lg) {
    font-size: 14px;
  }
}

.header-contacts__callback {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  background-image: linear-gradient( 35deg, #c32613 0%, #e04925 50%, #c32613 100%);
  margin-left: 8px;
  border: none;
  padding: 0;
  position: relative;

  @include below(lg) {
    width: 48px;
    height: 48px;
    margin-left: 6px;
  }
}

.header-contacts__callback::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='18px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M0.422,3.939 C1.973,0.501 4.31,0.71 4.490,0.10 C4.949,0.92 5.419,0.53 5.998,1.84 C6.577,2.116 7.236,3.195 7.430,3.646 C7.624,4.98 7.498,5.124 7.83,5.401 C6.668,5.678 5.429,6.238 5.4,6.462 C4.580,6.687 4.486,7.80 4.534,7.341 C4.718,8.335 6.713,11.934 7.461,12.628 C7.659,12.811 8.49,12.952 8.476,12.733 C8.903,12.513 10.69,11.819 10.536,11.636 C11.2,11.453 11.954,11.918 12.234,12.325 C12.514,12.731 13.77,13.861 13.643,14.899 C14.209,15.936 13.916,16.296 13.733,16.712 C13.550,17.129 11.921,18.478 8.112,17.835 C3.433,17.45 -1.475,8.145 0.422,3.939 L0.422,3.939 ZM4.173,1.278 C4.514,1.106 4.784,1.609 4.443,1.781 C2.678,2.691 1.571,4.562 1.500,6.486 C1.489,6.859 0.904,6.842 0.915,6.469 C0.994,4.359 2.225,2.261 4.173,1.278 L4.173,1.278 Z'/%3E%3C/svg%3E");
}
