.how-we-work {
  padding-top: 36px;
  padding-bottom: 66px;
  background: #f9f9f9;

  @include below(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.how-we-work__title {
  text-align: center;
  color: #010100;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 62px;

  @include below(sm) {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.how-we-work__items {
  display: flex;
  flex-wrap: wrap;
}

.how-we-work__item {
  width: 20%;
  position: relative;

  @include below(sm) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.how-we-work__item + .how-we-work__item {

  @include below(sm) {
    margin-top: 30px;
  }
}

.how-we-work__item::after {
  content: '';
  position: absolute;
  height: 2px;
  background: #c2c2c3;
  right: calc(50% + 20px);
  top: 20px;
  left: 0;

  @include below(sm) {
    display: none;
  }
}

.how-we-work__item:first-child::after {
  display: none;
}

.how-we-work__item::before {
  content: '';
  position: absolute;
  height: 2px;
  background: #c2c2c3;
  left: calc(50% + 20px);
  top: 20px;
  right: 0;

  @include below(sm) {
    display: none;
  }
}

.how-we-work__item:last-child::before {
  display: none;
}

.how-we-work__item-number {
  font-weight: bold;
  color: #d2381c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid currentColor;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include below(sm) {
    margin: 0 20px 0 0;
  }
}

.how-we-work__item-arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #4c5456;
  border-bottom: 2px solid #4c5456;
  transform: rotate(-45deg);
  position: absolute;
  top: 17px;
  left: 100%;
  z-index: 2;

  @include below(sm) {
    display: none;
  }
}

.how-we-work__item:last-child .how-we-work__item-arrow {
  display: none;
}

.how-we-work__item-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @include below(sm) {
    margin: 0;
    width: 60px;
    height: 60px;
  }
}

.how-we-work__item-icon img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.how-we-work__item-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #04293f;
  font-size: 16px;
  line-height: 14px;
  max-width: 168px;
  margin-left: auto;
  margin-right: auto;

  @include below(sm) {
    width: 100%;
    max-width: initial;
    margin: 0;
    text-align: left;

    br {
      display: none;
    }
  }
}
