.intro {
  padding-top: 167px;
  padding-bottom: 65px;
  background: url('../images/intro.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.intro-layout {
  display: flex;
  align-items: center;
}

.intro-layout__content {
  padding-bottom: 84px;
  flex-grow: 1;
}

.intro-layout__form {
  width: 386px;
  margin-left: 60px;
  flex-shrink: 0;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-content__title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  padding: 0 4px;
  background: #fff;
  margin-left: -4px;
}

.intro-content__subtitle {
  font-size: 42px;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.44);
  margin-top: 18px;
}

.intro-content__subtitle::after {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.58);
  width: 626px;
  height: 2px;
  max-width: 100%;
  margin-top: 22px;
}

.intro-content__desc {
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  margin-top: 38px;
}

.intro-content__desc span {
  background-color: rgb(58, 60, 57);
}

.intro-form {
  padding: 30px 42px 38px;
  position: relative;
  background-color: rgba(63, 65, 63, 0.702);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);

  @include below(lg) {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.intro-form__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 11px;
}

.intro-form__subtitle {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.intro-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.intro-form__row {

}

.intro-form__row + .intro-form__row {
  margin-top: 11px;
}

.intro-form__rules {
  margin-top: 6px;
  color: #d0d0d0;
}

.intro-form__submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.intro-form__submit .ui-button-submit {
  min-width: 182px;
}

.intro-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.intro-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.intro-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .intro-form-result_success & {
    background: #2e82b9;
  }
  .intro-form-result_failed & {
    background: #e48a00;
  }
}

.intro-form-result__head-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.intro-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.intro-form-result__head-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.intro-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.intro-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.intro-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}

.landing-catalog {
  padding-top: 55px;
  padding-bottom: 101px;
}

.landing-catalog__title {
  font-size: 32px;
  line-height: 36px;
  color: #000;
  max-width: 580px;
  font-weight: bold;
}

.landing-catalog__subtitle {
  padding-left: 35px;
  position: relative;
  font-size: 26px;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 40px;
}

.landing-catalog__subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: #ff240b;
}

.landing-catalog__content {
  margin-top: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
}

.landing-catalog__content-left {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__content-right {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.landing-catalog__products-item {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);
}

.catalog-card {
  position: relative;
}

.catalog-card::before {
  content: '';
  inset: 0;
  position: absolute;
  background-color: rgb(244, 244, 244);
  transition: .5s ease;
}

.catalog-card:hover::before {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.09);
  inset: -20px;
}

.catalog-card__image {
  margin: 0;
  padding: 0;
  display: block;
}

.catalog-card__image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 30px;
}

.catalog-card__title {
  margin: 0;
  color: #fb6741;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  height: calc(26px * 3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-card__more {

}
