.product-include {
  display: flex;
  align-items: flex-start;
  
  @include below(md) {
    flex-direction: column;
  }
}

.product-include__gap-1 {
  width: 68px;
  flex-shrink: 20;
}

.product-include__gap-2 {
  width: 90px;
  flex-shrink: 6;
}

.product-include__title {

  @include above(md) {
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    background: #d2381c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 189px;
    flex-shrink: 1;
    margin-top: 22px;
    padding-bottom: 16px;
  }
  
  @include below(md) {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #d2381c;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  @include below(sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-include__list {
  width: 630px;
  flex-shrink: 1;
  
  @include below(md) {
    width: 100%;
  }
}

.product-include__item {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  letter-spacing: -0.005em;

  @include below(sm) {
    font-size: 20px;
  }
}

.product-include__item + .product-include__item {
  margin-top: 15px;
}

.product-body {
  padding-bottom: 40px;
  position: relative;
}

.product-body__arrow {
  position: absolute;
  width: 20px;
  height: 40px;
  bottom: -25px;
  left: 50%;
  margin-left: -10px;

  &::before {
    content: '';
    width: 4px;
    height: 100%;
    background: #bababa;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: '';
    width: 12px;
    height: 12px;
    border-right: 4px solid #bababa;
    border-bottom: 4px solid #bababa;
    left: 50%;
    top: 100%;
    transform: translateY(-50%) rotate(45deg);
  }
}

.product-body__content {

}

.product-gallery {

}

.product-gallery__title {

}

.product-gallery__items {

}

.product-gallery__item {

}

.product-price-info {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}

.product-price-info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(158, 158, 158);
  border: 2px solid rgb(158, 158, 158);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 auto 25px;
}

.product-price-info__desc {
  font-size: 24px;
  text-align: center;
  color: #000;
  line-height: 28px;
  font-weight: bold;
}
