.intro {
  padding-top: 167px;
  padding-bottom: 65px;
  background: url('../images/intro.jpg') no-repeat 50% 50%;
  background-size: cover;

  @include below(lg) {
    padding-top: 147px;
    padding-bottom: 45px;
  }
}

.intro-layout {
  display: flex;
  align-items: center;
}

.intro-layout__content {
  padding-bottom: 84px;
  flex-grow: 1;
}

.intro-layout__form {
  width: 386px;
  margin-left: 60px;
  flex-shrink: 0;

  @include below(lg) {
    margin-left: 40px;
    width: 340px;
  }
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-content__title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  padding: 0 4px;
  background: #fff;
  margin-left: -4px;

  @include below(lg) {
    font-size: 48px;
    line-height: 56px;
  }
}

.intro-content__subtitle {
  font-size: 42px;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.44);
  margin-top: 18px;

  @include below(lg) {
    font-size: 36px;
    width: 100%;
  }
}

.intro-content__subtitle::after {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.58);
  width: 626px;
  height: 2px;
  max-width: 100%;
  margin-top: 22px;

  @include below(lg) {
    width: 100%;
  }
}

.intro-content__button {

  @include above(sm) {
    display: none;
  }
}

.intro-content__desc {
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  margin-top: 38px;

  @include below(lg) {
    font-size: 26px;
  }
}

.intro-content__desc span {
  background-color: rgb(58, 60, 57);
}

.intro-form {
  padding: 30px 42px 38px;
  position: relative;
  background-color: rgba(63, 65, 63, 0.702);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);

  @include below(lg) {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
  }
}

.intro-form__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 11px;
}

.intro-form__subtitle {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.intro-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.intro-form__row {

}

.intro-form__row + .intro-form__row {
  margin-top: 11px;
}

.intro-form__rules {
  margin-top: 6px;
  color: #d0d0d0;
}

.intro-form__submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.intro-form__submit .ui-button-submit {
  min-width: 182px;
}

.intro-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.intro-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.intro-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .intro-form-result_success & {
    background: #2e82b9;
  }
  .intro-form-result_failed & {
    background: #e48a00;
  }
}

.intro-form-result__head-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.intro-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.intro-form-result__head-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.intro-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.intro-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.intro-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}

.landing-catalog {
  padding-top: 55px;
  padding-bottom: 101px;
}

.landing-catalog__title {
  font-size: 32px;
  line-height: 36px;
  color: #000;
  max-width: 580px;
  font-weight: bold;
}

.landing-catalog__subtitle {
  padding-left: 35px;
  position: relative;
  font-size: 26px;
  color: #000;
  text-transform: uppercase;
  margin-top: 43px;
}

.landing-catalog__subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 16px;
  height: 16px;
  background: #ff240b;
}

.landing-catalog__content {
  margin-top: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
}

.landing-catalog__content-left {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__content-right {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__products {
  margin-top: 48px;
}

.landing-catalog__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.landing-catalog__grid-cell {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);
}

.catalog-card {
  position: relative;
  z-index: 1;
}

.catalog-card:hover {
  z-index: 2;
}

.catalog-card::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background-color: rgb(244, 244, 244);
  transition: transform .5s ease;
  will-change: transform;
}

.catalog-card:hover::before {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.09);
  transform: scale(1.1);
}

.catalog-card__image {
  margin: 0;
  padding: 0;
  display: block;
  filter: grayscale(30%);
  transition: .5s ease;
  transition-property: transform, filter;
  will-change: transform;
}

.catalog-card:hover .catalog-card__image {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.catalog-card__image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 30px;
}

.catalog-card__title {
  margin: 0;
  color: #fb6741;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 19px;
  font-weight: bold;
  text-align: center;
  height: calc(26px * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .5s ease;
  transition-property: transform, color;
  will-change: transform, color;

  @include below(lg) {
    font-size: 18px;
  }
}

.catalog-card__title span {
  text-transform: none;
}

.catalog-card:hover .catalog-card__title {
  color: #ff240b;
  transform: scale(1.05);
}

.catalog-card__more .ui-button-more::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.catalog-card:hover .catalog-card__more .ui-button-more::after {
  transform: scale(1.1);
}

.landing-order {
  background: url('../images/bg-order.jpg') repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 61px;
  padding-bottom: 35px;
}

.landing-order__container {
  position: relative;
}

.landing-order__container::before {
  content: '';
  background-color: rgba(187, 192, 195, 0.38);
  position: absolute;
  right: -139px;
  top: -124px;
  width: 124px;
  height: 124px;
}

.landing-order__container::after {
  content: '';
  background-color: rgb(255, 36, 11);
  width: 16px;
  height: 16px;
  position: absolute;
  right: -183px;
  top: -178px;
}

.landing-order__title {
  text-align: center;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.landing-order__title span {
  color: #cdcfd0;
}

.landing-order__description {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  width: 920px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
}

.landing-order__form {
  width: 864px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.landing-order-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.landing-order-form__field {
  flex-grow: 1;
}

.landing-order-form__submit {
  flex-grow: 2;
  max-width: 312px;
}

.landing-order-form__submit .ui-button-submit {
  width: 100%;
  letter-spacing: 0.025em;
}

.landing-order-form__rules {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.landing-order-form__loader {
  display: none;

  ._mail-sending & {
    display: block;
  }
}

.landing-order-form-result {
  display: none;
  position: absolute;
  background-color: rgb(63 65 63 / 98%);
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  padding: 24px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(0 0 0 / 30%);
  border: none;
}

.landing-order-form-result::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
}

.landing-order-form-result_success {
  box-shadow: 0px 0px 20px -10px rgb(125 136 39 / 35%), 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(125 136 39 / 35%), inset 0px 0px 18px rgb(125 168 125 / 21%), inset 0px 0px 18px rgb(125 189 57 / 31%), inset 0px -3px 14px rgb(125 100 39 / 20%);
  
  ._mail-sent & {
    display: block;
  }
}

.landing-order-form-result_success::before {
  border-color: rgba(125, 207, 189, 0.46);
}

.landing-order-form-result_failed {
  box-shadow: 0px 0px 20px -10px rgb(255 136 39 / 35%), 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(255 136 39 / 35%), inset 0px 0px 18px rgb(255 168 255 / 21%), inset 0px 0px 18px rgb(255 189 57 / 31%), inset 0px -3px 14px rgb(255 100 39 / 20%);
  
  ._mail-failed & {
    display: block;
  }
}

.landing-order-form-result_failed::before {
  border-color: rgba(255, 207, 189, 0.46);
}

.landing-order-form-result__title {
  font-size: 24px;
  color: #fff;
}

.landing-order-form-result__desc {
  font-size: 18px;
  color: #fff;
  margin-top: 12px;
}

.landing-order-form-result__close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.landing-order-form-result__close:hover {
  background: rgba(0, 0, 0, .1);
}

.landing-order-form-result__close::before {
  content: '';
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.landing-order-form-result__close::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.landing-about {
  padding-top: 67px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
}

.landing-about__layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -40px;
}

.landing-about__layout-image {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.landing-about__layout-content {
  padding-left: 40px;
  width: 50%;
}

.landing-about__include {
  margin-top: 118px;
}

.landing-about__image {
  display: block;
  margin: 0;
  padding: 0;
}

.landing-about__image img {
  display: block;
}

.landing-about__title {
  font-size: 32px;
  color: #010100;
  line-height: 36px;
  font-weight: bold;
  position: relative;
  margin: 0;
}

.landing-about__title::before {
  content: '';
  background: #fb6741;
  left: -32px;
  top: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.landing-about__content {
  margin-top: 22px;
  font-size: 18px;
  color: #000;
  line-height: 24px;
}

.repair-include {
  display: flex;
  align-items: flex-start;
}

.repair-include__gap-1 {
  width: 68px;
  flex-shrink: 20;
}

.repair-include__gap-2 {
  width: 90px;
  flex-shrink: 6;
}

.repair-include__title {
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  background: #d2381c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 189px;
  flex-shrink: 1;
  margin-top: 22px;
  padding-bottom: 16px;
}

.repair-include__list {
  width: 630px;
  flex-shrink: 1;
}

.repair-include__item {
  display: flex;
  align-items: center;
}

.repair-include__item + .repair-include__item {
  margin-top: 15px;
}

.repair-include__item-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  flex-shrink: 0;
}

.repair-include__item-name {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  letter-spacing: -0.005em;
}
