.catalog-body {

}

.catalog-body__content {
  margin-top: 60px;

  &:empty {
    display: none;
  }

  @include below(sm) {
    margin-top: 30px;
  }
}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-top: -10px;
}

.catalog-grid__cell {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);

  @include below(md) {
    width: calc(100% / 2);
  }

  @include below(sm) {
    width: 100%;
  }
}
