.catalog-body {

}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-top: -10px;
}

.catalog-grid__cell {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);

  @include below(md) {
    width: calc(100% / 2);
  }

  @include below(sm) {
    width: 100%;
  }
}

.catalog-card__children {
  position: relative;
  z-index: 30;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  width: 100%;
}

.catalog-card__children-item + .catalog-card__children-item {
  margin-top: 12px;
}

.catalog-card__children-item a {
  position: relative;
  padding-left: 24px;
  display: block;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.catalog-card__children-item a::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 3px solid #df3e10;
  left: 0;
  top: 6px;
}
