.intro {
  padding-top: 167px;
  padding-bottom: 65px;
  background: url('../images/intro.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.intro-layout {
  display: flex;
  align-items: center;
}

.intro-layout__content {
  padding-bottom: 84px;
  flex-grow: 1;
}

.intro-layout__form {
  width: 386px;
  margin-left: 60px;
  flex-shrink: 0;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-content__title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  padding: 0 4px;
  background: #fff;
  margin-left: -4px;
}

.intro-content__subtitle {
  font-size: 42px;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.44);
  margin-top: 18px;
}

.intro-content__subtitle::after {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.58);
  width: 626px;
  height: 2px;
  max-width: 100%;
  margin-top: 22px;
}

.intro-content__desc {
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  margin-top: 38px;
}

.intro-content__desc span {
  background-color: rgb(58, 60, 57);
}

.intro-form {
  padding: 30px 42px 38px;
  position: relative;
  background-color: rgba(63, 65, 63, 0.702);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);

  @include below(lg) {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.intro-form__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 11px;
}

.intro-form__subtitle {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.intro-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.intro-form__row {

}

.intro-form__row + .intro-form__row {
  margin-top: 11px;
}

.intro-form__rules {
  margin-top: 6px;
  color: #d0d0d0;
}

.intro-form__submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.intro-form__submit .ui-button-submit {
  min-width: 182px;
}

.intro-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.intro-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.intro-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .intro-form-result_success & {
    background: #2e82b9;
  }
  .intro-form-result_failed & {
    background: #e48a00;
  }
}

.intro-form-result__head-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.intro-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.intro-form-result__head-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.intro-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.intro-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.intro-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}

.landing-catalog {
  padding-top: 55px;
  padding-bottom: 101px;
}

.landing-catalog__title {
  font-size: 32px;
  line-height: 36px;
  color: #000;
  max-width: 580px;
  font-weight: bold;
}

.landing-catalog__subtitle {
  padding-left: 35px;
  position: relative;
  font-size: 26px;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 40px;
}

.landing-catalog__subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: #ff240b;
}

.landing-catalog__content {
  margin-top: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
}

.landing-catalog__content-left {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__content-right {
  padding-left: 50px;
  width: 50%;
}

.landing-catalog__products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.landing-catalog__products-item {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);
}

.catalog-card {
  position: relative;
  z-index: 1;
}

.catalog-card:hover {
  z-index: 2;
}

.catalog-card::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background-color: rgb(244, 244, 244);
  transition: transform .5s ease;
  will-change: transform;
}

.catalog-card:hover::before {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.09);
  transform: scale(1.1);
}

.catalog-card__image {
  margin: 0;
  padding: 0;
  display: block;
  filter: grayscale(30%);
  transition: .5s ease;
  transition-property: transform, filter;
  will-change: transform;
}

.catalog-card:hover .catalog-card__image {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.catalog-card__image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 30px;
}

.catalog-card__title {
  margin: 0;
  color: #fb6741;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  height: calc(26px * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .5s ease;
  transition-property: transform, color;
  will-change: transform, color;
}

.catalog-card__title span {
  text-transform: none;
}

.catalog-card:hover .catalog-card__title {
  color: #ff240b;
  transform: scale(1.05);
}

.catalog-card__more .ui-button-more::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.catalog-card:hover .catalog-card__more .ui-button-more::after {
  transform: scale(1.1);
}

.landing-order {
  background: url('../images/bg-order.jpg') repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 35px;
}

.landing-order__container {
  position: relative;
}

.landing-order__container::before {
  content: '';
  background-color: rgba(187, 192, 195, 0.38);
  position: absolute;
  right: -139px;
  top: -63px;
  width: 124px;
  height: 124px;  
}

.landing-order__container::after {
  content: '';
  background-color: rgb(255, 36, 11);
  width: 16px;
  height: 16px;  
  position: absolute;
  right: -183px;
  top: -117px;
}

.landing-order__title {
  text-align: center;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.landing-order__title span {
  color: #cdcfd0;
}

.landing-order__description {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  width: 920px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.landing-order__form {
  width: 864px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.landing-order-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.landing-order-form__field {
  flex-grow: 1;
}

.landing-order-form__submit {
  flex-grow: 2;
  max-width: 312px;
}

.landing-order-form__submit .ui-button-submit {
  width: 100%;
}

.landing-order-form__rules {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.landing-order-form__loader {
  display: none;
}

.landing-order-form-result {
  display: none;
  position: absolute;
  background-color: rgb(63 65 63 / 98%);
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  padding: 24px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(0 0 0 / 30%);
  border: none;
}

.landing-order-form-result::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
}

.landing-order-form-result_success {
  box-shadow: 0px 0px 20px -10px rgb(125 136 39 / 35%), 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(125 136 39 / 35%), inset 0px 0px 18px rgb(125 168 125 / 21%), inset 0px 0px 18px rgb(125 189 57 / 31%), inset 0px -3px 14px rgb(125 100 39 / 20%);
  
  ._mail-sent & {
    display: block;
  }
}

.landing-order-form-result_success::before {
  border-color: rgba(125, 207, 189, 0.46);
}

.landing-order-form-result_failed {
  box-shadow: 0px 0px 20px -10px rgb(255 136 39 / 35%), 0px 0px 2px rgb(0 0 0 / 10%), 0px 4px 19px rgb(255 136 39 / 35%), inset 0px 0px 18px rgb(255 168 255 / 21%), inset 0px 0px 18px rgb(255 189 57 / 31%), inset 0px -3px 14px rgb(255 100 39 / 20%);
  
  ._mail-failed & {
    display: block;
  }
}

.landing-order-form-result_failed::before {
  border-color: rgba(255, 207, 189, 0.46);
}

.landing-order-form-result__title {
  font-size: 24px;
  color: #fff;
}

.landing-order-form-result__desc {
  font-size: 18px;
  color: #fff;
  margin-top: 12px;
}

.landing-order-form-result__close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.landing-order-form-result__close:hover {
  background: rgba(0, 0, 0, .1);
}

.landing-order-form-result__close::before {
  content: '';
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.landing-order-form-result__close::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.landing-about {
  padding-top: 65px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
}

.landing-about__layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -40px;
}

.landing-about__layout-image {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.landing-about__layout-content {
  padding-left: 40px;
  width: 50%;
}

.landing-about__include {
  margin-top: 100px;
}

.landing-about__image {
  display: block;
  margin: 0;
  padding: 0;
}

.landing-about__image img {
  display: block;
}

.landing-about__title {
  font-size: 32px;
  color: #010100;
  line-height: 36px;
  font-weight: bold;
  position: relative;
}

.landing-about__title::before {
  content: '';
  background: #fb6741;
  left: -32px;
  top: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.landing-about__content {
  margin-top: 24px;
  font-size: 18px;
  color: #000;
  line-height: 24px; 
}

.repair-include {
  display: flex;
  align-items: flex-start;
}

.repair-include__gap-1 {
  width: 68px;
  flex-shrink: 20;
}

.repair-include__gap-2 {
  width: 90px;
  flex-shrink: 6;
}

.repair-include__title {
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  background: #d2381c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 189px;
  flex-shrink: 1;
  margin-top: 22px;
  padding-bottom: 16px;
}

.repair-include__list {
  width: 630px;
  flex-shrink: 1;
}

.repair-include__item {
  display: flex;
  align-items: center;
}

.repair-include__item + .repair-include__item {
  margin-top: 15px;
}

.repair-include__item-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  flex-shrink: 0;
}

.repair-include__item-name {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  letter-spacing: -0.005em;
}

.landing-articles {
  padding-top: 92px;
  padding-bottom: 82px;
}

.landing-articles__container {
  display: flex;
}

.landing-articles__title {
  font-weight: bold;
  text-transform: uppercase;
  color: #d2381c;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.025em;
  width: 160px;
  flex-shrink: 0;
  margin-right: 40px;
}

.landing-articles__title::before {
  content: '';
  border: 2px solid rgb(210, 56, 28);
  border-radius: 50%;
  width: 58px;
  height: 58px;
  margin: 0 auto 10px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='32px'%3E%3Cpath fill-rule='evenodd' fill='rgb(210, 56, 28)' d='M30.275,2.609 C32.417,4.880 32.312,8.460 30.40,10.601 C29.438,11.170 28.743,11.580 28.7,11.833 L27.969,16.864 C27.967,17.65 27.882,17.246 27.746,17.373 L13.428,30.876 C12.521,31.732 11.78,31.664 10.228,30.763 L0.922,20.893 C0.72,19.992 0.90,18.548 0.997,17.692 L15.269,4.236 C15.431,4.83 15.646,4.21 15.851,4.48 L20.920,4.362 C21.216,3.631 21.671,2.950 22.282,2.373 C24.554,0.232 28.133,0.337 30.275,2.609 L30.275,2.609 ZM23.459,8.816 C23.824,9.204 24.35,9.684 24.93,10.178 C24.695,10.516 25.363,10.696 26.37,10.716 C26.223,10.721 26.410,10.714 26.595,10.695 L26.616,7.836 L24.917,6.34 L16.23,5.482 L1.975,18.729 C1.634,19.49 1.644,19.581 1.959,19.916 L11.264,29.785 C11.580,30.120 12.110,30.161 12.451,29.840 L26.551,16.545 L26.584,12.126 C26.388,12.140 26.191,12.145 25.995,12.139 C25.246,12.117 24.501,11.947 23.808,11.630 C23.691,11.839 23.541,12.35 23.358,12.207 C22.877,12.661 22.256,12.877 21.643,12.859 C20.325,12.820 19.279,11.710 19.317,10.393 L19.318,10.389 C19.336,9.776 19.587,9.169 20.67,8.717 C20.549,8.262 21.170,8.46 21.784,8.64 C22.397,8.82 23.4,8.334 23.459,8.816 L23.459,8.816 ZM21.400,9.539 C21.18,9.669 20.750,10.28 20.737,10.433 C20.723,10.967 21.150,11.420 21.685,11.435 C21.933,11.443 22.186,11.355 22.381,11.170 C22.474,11.84 22.545,10.984 22.596,10.877 C22.131,10.498 21.724,10.44 21.400,9.539 L21.400,9.539 ZM16.443,10.399 L21.617,15.886 C22.213,16.519 22.183,17.527 21.550,18.124 L13.294,25.909 C12.652,26.513 11.667,26.490 11.56,25.843 L5.882,20.356 C5.305,19.744 5.358,18.675 5.948,18.118 L14.205,10.333 C14.838,9.736 15.846,9.765 16.443,10.399 L16.443,10.399 ZM20.580,16.863 L15.406,11.376 C15.346,11.313 15.246,11.310 15.182,11.370 L6.926,19.154 C6.894,19.185 6.877,19.225 6.875,19.265 L6.877,19.265 C6.872,19.427 11.578,24.319 12.93,24.865 C12.122,24.897 12.163,24.913 12.203,24.914 L12.203,24.916 C12.243,24.917 12.284,24.902 12.316,24.872 L20.573,17.87 C20.637,17.27 20.640,16.927 20.580,16.863 L20.580,16.863 ZM28.19,10.288 C28.392,10.106 28.745,9.865 29.63,9.565 C30.762,7.962 30.841,5.286 29.239,3.586 C27.636,1.886 24.959,1.807 23.260,3.410 C22.928,3.723 22.657,4.77 22.449,4.457 L25.287,4.633 C25.475,4.644 25.642,4.728 25.761,4.855 L27.847,7.65 C27.991,7.218 28.55,7.417 28.39,7.611 L28.19,10.288 L28.19,10.288 Z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.landing-articles__items {
  flex-grow: 1;
}

.landing-articles__grid {
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.landing-articles__grid-cell {
  width: calc(100% / 3);
  padding-left: 30px
}

.articles-item {

}

.articles-item__date {
  background-color: rgb(235, 235, 235);
  line-height: 22px;
  padding: 0 6px;
  display: inline-block;
  font-size: 12px;
  color: #000;
  letter-spacing: 0.05em;
}

.articles-item__title {
  font-size: 18px;
  line-height: 1;
  height: 36px;
  overflow: hidden;
  margin-top: 12px;
}

.articles-item__title a {
  color: #0a6eaa;
  text-decoration: underline;
}

.articles-item__title a:hover {
  color: #ff240b;
}

.articles-item__desc {
  font-size: 16px;
  color: #000;
  line-height: 18px;
  margin-top: 12px;
}

.articles-item__desc a {
  color: #0a6eaa;
  text-decoration: underline;
}

.articles-item__desc a:hover {
  color: #ff240b;
}
