.product-include {
  display: flex;
  align-items: flex-start;
  margin-top: 90px;

  @include below(md) {
    flex-direction: column;
  }

  @include below(sm) {
    margin-top: 40px;
  }
}

.product-include__gap-1 {
  width: 118px;
  flex-shrink: 20;
}

.product-include__gap-2 {
  width: 90px;
  flex-shrink: 6;
}

.product-include__title {

  @include above(md) {
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    background: #d2381c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 189px;
    flex-shrink: 1;
    margin-top: 5px;
    padding-bottom: 16px;
  }
  
  @include below(md) {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #d2381c;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  @include below(sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-include__list {
  width: 580px;
  flex-shrink: 1;
  
  @include below(md) {
    width: 100%;
  }
}

.product-include__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
  color: #000;
  padding-left: 32px;
  position: relative;

  @include below(sm) {
    font-size: 16px;
  }
}

.product-include__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  background: #dcdcdc;
  width: 14px;
  height: 14px;
}

.product-include__item + .product-include__item {
  margin-top: 23px;
}

.product-body {
  position: relative;
}

.product-body__content {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1em;
  }

  @include below(sm) {
    margin-top: 30px;
  }
}

.product-body__content-left {
  padding-left: 50px;
  width: 50%;

  @include below(sm) {
    width: 100%;
  }
}

.product-body__content-right {
  padding-left: 50px;
  width: 50%;

  @include below(sm) {
    width: 100%;
  }
}

.product-body__arrow {
  position: absolute;
  width: 20px;
  height: 40px;
  bottom: -65px;
  left: 50%;
  margin-left: -10px;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #bababa;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-right: 4px solid #bababa;
    border-bottom: 4px solid #bababa;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
  }
}

.product-gallery {
  width: 790px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

  @include below(sm) {
    margin-top: 40px;
  }
}

.product-gallery__title {
  font-weight: bold;
  text-align: center;
  color: #000;
  line-height: 1;
  font-size: 32px;
  margin-bottom: 60px;

  @include below(sm) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.product-gallery__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
  margin-left: -30px;

  @include below(sm) {
    margin-top: -10px;
    margin-left: -10px;
  }
}

.product-gallery__item {
  width: 50%;
  padding-top: 25px;
  padding-left: 30px;

  @include below(sm) {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.product-gallery__item-figure {
  display: block;
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}

.product-gallery__item-figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .3s ease;
}

.product-gallery__item-figure:hover img {
  opacity: 0.4;
}

.product-gallery__item-figure::after {
  content: '';
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='22px'%3E%3Cpath fill-rule='evenodd' fill='rgb(238, 238, 238)' d='M17.198,21.639 C16.356,22.232 15.198,22.24 14.610,21.174 L11.457,16.590 C7.916,17.919 3.806,16.762 1.544,13.492 C-1.141,9.612 0.199,4.268 3.647,1.559 C7.494,-1.149 12.790,0.199 15.475,3.680 C17.849,7.110 17.384,11.679 14.588,14.565 L17.658,19.29 C18.245,19.878 18.39,21.46 17.198,21.639 ZM13.559,5.141 C11.644,2.420 7.598,1.940 5.95,3.738 C2.592,5.537 1.979,9.85 3.726,11.661 C5.474,14.237 8.919,14.868 11.422,13.69 C13.926,11.270 15.474,7.863 13.559,5.141 Z'/%3E%3C/svg%3E");
  background-color: rgba(29, 30, 33, 0.6);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .3s ease;
}

.product-gallery__item-figure:hover::after {
  opacity: 1;
}

.product-price-info {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
  margin-top: 79px;

  @include below(sm) {
    margin-top: 40px;
  }
}

.product-price-info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(158, 158, 158);
  border: 2px solid rgb(158, 158, 158);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 auto 21px;
}

.product-price-info__desc {
  font-size: 24px;
  text-align: center;
  color: #000;
  line-height: 28px;
  font-weight: bold;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
