.catalog-body {

}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-top: -10px;
}

.catalog-grid__cell {
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% / 3);

  @include below(md) {
    width: calc(100% / 2);
  }

  @include below(sm) {
    width: 100%;
  }
}

.catalog-card__children {

}

.catalog-card__children-item {
  
}
